/*-- scss:defaults --*/

// Base document colors
$body-bg: #89B691;
$body-color: #000000;
$link-color: #C54F43;

$font-family-sans-serif: "Ubuntu", sans-serif;
$font-family-serif: "Bree Serif", serif;

$navbar-bg: #F8BCB0;
$navbar-fg: #0A475D;

$sidebar-bg: #F8BCB0;
$sidebar-fg: #0A475D;

$footer-bg: #F4C76D;
$footer-fg: #0A475D;

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
